/**
 * 
 * 后台框架样式
 * 
 * @author wbqing405@sina.com
 * 
 */
/*=====frame布局=====*/
html,body,table,tr,td{
	margin:0;
	padding:0;
	border:0;
}
html,body{
	height:100%;
	position:relative;
	overflow:hidden;
}
body {
	font-family:"隶书","Microsoft YaHei","微软雅黑","Microsoft JhengHei","华文细黑","STHeiti","MingLiu";
	font-size:13px;
	background: #F1F1F1;
	margin: 0;
	padding: 0;
	color: #4c4c4c;
	background: transparent;
	padding-left:160px;
	background: url("../images/left_bg.gif") repeat-y scroll left center;
}
a,a:hover{
	text-decoration:none;
}
table{
	border-collapse:collapse;
	empty-cells:show;
}
#left_sidebar{ 
	position:absolute; 
	float:left; 
	width:160px;
	margin:0;
	padding:0;
	border:0;
	margin-top:30px;
	margin-left:-160px; 
	display:inline;
	border-top:1px #86b9d6 solid;
}
#left_sidebar ul{ 
	list-style:none;	
	background:#EDF1FF; 
	position:relative;
	margin-left:-40px;
	margin-top:0;
}
#left_sidebar li{ 
	height:40px;
	line-height:40px;
	font-size:13px;
	border-bottom:1px #dfdfdf solid;
}
#left_sidebar li a{
	display:block;
	height:40px;
	line-height:40px;
	padding:0px 0 0 35px; 
	background:url(../images/sidebar_li_bg.gif) no-repeat 20px 13px;
	color:#666;
	border-top:1px #dfdfdf solid;
	border-bottom:1px #dfdfdf solid;
	font-size:15px;
	text-decoration:none;
}
#left_sidebar li a:hover,#left_sidebar li a.on{
	width:127px;
	/*border-right-color:#f8f8f8;*/
	background:#fcfdff url(../images/sidebar_li_bg.gif) no-repeat 20px 18px;
	color:#0068b6;
	font-size:15px;
	text-decoration:none;
}
.logo{
	width:160px;
	height:110px;
	top:0; 
	left:0;
	position:absolute;
}
.logo img{
	border:0;
	display:block;
}
.head_box{ 
	height:80px; 
	overflow:hidden;
	background:#bfbfbf;
	background:url(../images/head_bg.gif) repeat-x left top;
}
.head_box .nav{
	width:100%;
	color:#0078d4;
}
.head_box .nav #nav_left{
	float:left;
	width:80%;
	font-size:30px;
}
.head_box .nav #nav_left ul{
	height:60px;
	list-style:none;
}
.head_box #nav_left li a{	
	cursor:pointer; 
	float:left;
	margin:0 8px;
}
.head_box #nav_left li a span{ 
	float:left;
	display:block;
	height:40px;
	line-height:40px;
	color:#0078d4;
	padding:15px;
}
.head_box #nav_left li{
	font-size:20px; 
	float:left;
}
.head_box #nav_left li.on a,.head_box #nav_left li a:hover{
	background:url(../images/nave_bg.gif) no-repeat left;
}
.head_box #nav_left li.on a span,.head_box #nav_left li a:hover span{
	background:url(../images/nave_bg_r.gif) no-repeat right;
	color:#fff;
}
.head_box .nav .nav_right{
	float:right;
	width:15%;
	height:40px;
	text-align:right;
	padding-right:30px;
	margin-top:55px;
	font-size:14px;
}
.head_box .nav .nav_right a{
	color:#0078d4;
	text-decoration:none;
}
.head_box .nav .nav_right a:hover{
	color:#666;
	text-decoration:none;
}
.iframe{
	width:100%; 
	height:100%; 
	overflow:visible;
	margin:0;
	padding:0;
	border:0;
	border-left:2px solid #0078d4;
	border-top:2px solid #0078d4;
}
.copy{
	position:fixed;
	_position:absolute; 
	left:0;
	bottom:0;
	border-top:1px #dfdfdf dashed; 
	width:139px;
	padding:10px; 
	line-height:18px; 
	background:#f7f7f7;
	bottom:0;
	margin-bottom:-5px;
}