<link rel="stylesheet" href="{$__ROOT__}/include/ext/editor/kindeditor/themes/default/default.css" />
<link rel="stylesheet" href="{$__ROOT__}/include/ext/editor/kindeditor/plugins/code/prettify.css" />
<script type="text/javascript" src="{$__ROOT__}/include/ext/editor/kindeditor/kindeditor-min.js"></script>
<script type="text/javascript" src="{$__ROOT__}/include/ext/editor/kindeditor/lang/zh_CN.js"></script>
<script charset="utf-8" src="{$__ROOT__}/include/ext/editor/kindeditor/plugins/code/prettify.js"></script>